.details {
  background-color: #4ab7ed;
  color: white;
  text-transform: capitalize;

  .small {
    padding: 0 2rem;
  }

  ion-item {
    margin: 1rem 0;

    ion-input {
      text-align: center;
      padding: 1rem;
    }
  }

  .search-btn {
    text-transform: none;
    font-size: 1rem;
    --background: #2076a1;
    margin-top: 2.5rem;
    height: 2.5rem;
  }

  .selectors {
    margin: auto;
    width: 85%;
    margin-bottom: 5rem;

    h1 {
      font-size: 2.5rem;
      margin: 3rem 0;
    }
  }
}