.footer {
  background-color: #504c4c;
  text-transform: uppercase;
  color: #ffffff;

  p {
    text-emphasis: unset;
    margin: auto;
    width: 17rem;
    line-height: 1.5rem;
  }

  hr {
    margin: auto;
    width: 80%;
    border: 0.1px solid #ffffff;
  }

  .social-icons {
    ion-icon {
      margin-left: 1rem;
      font-size: 1.8rem;
    }
  }

  a {
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
  }
}